torch==2.0.0
torchdiffeq
torchsde
einops
open-clip-torch
transformers>=4.25.1
safetensors>=0.3.0
pytorch_lightning
aiohttp
accelerate
pyyaml
-e git+https://github.com/rttt1093/PiPPy.git@multiprocessing_with_lambda#egg=torchpippy
cloudpickle
gorilla
dask==2023.5.0